# Require that changes to `shell.nix` are approved via `direnv
# allow`. This creates a self-modifying `.envrc` that tracks the
# checksum of `shell.nix`.

SHELL_NIX_CHECKSUM="635f32d2427780cc837ac2201e5286223c40a607"

if [ "$(sha1sum shell.nix | cut -d " " -f 1)" != "$SHELL_NIX_CHECKSUM" ]; then
	sed -i "s/^SHELL_NIX_CHECKSUM=\".*\"\$/SHELL_NIX_CHECKSUM=\"$(sha1sum shell.nix | cut -d " " -f 1)\"/" .envrc
	echo -e "\033[31mshell.nix checksum doesn't match trusted version\033[m"
	echo -e "\033[31mCheck if shell.nix contains trustworthy content and run \`direnv allow\`\033[m"
	exit 1
fi

use_nix
